body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
    color: cornflowerblue;
    
}
.p{
    color: rgb(237, 245, 237);
}
.orange-highlight{
   color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin: left 5%;
    padding-left: 2%;
    
}
.half-width img {
    width: 80%;

}
.top-banner{
    background-repeat:no-repeat ;
    background-image: url("images/top-banner.png");
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
   
    border: 1px;
    background-image: linear-gradient(45deg, red,white);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(19, 28, 153);
    font-weight: bold;
   
}
h2{
    font-size: 40px;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.single-experience{
    box-shadow: 10px 10px 40px rgb(48, 2, 48) ;
    border-radius: 5px ;
    height: 80%;
    margin: 2%;
    background-color:rgb(161, 161, 161) ;
    

}
.area{
    background-image:url(images/dream-bg.png) ;
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: liner-gradient(180deg lightsalmon, tomato);
    border-image-slice: 1;
   

}
#Baby-Web{
    border-left: 7px solid;
    border-image: liner-gradient(180deg, blue,cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
    color: gold;
}