body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
    color: cornflowerblue;
    f
}
.name-highlight{
   color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin: left 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;

}
.top-banner{
    background-repeat:no-repeat ;
    background-image: url("images/top-banner.png");
}
section{
    height: 500px;
}